div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:rgb(214, 112, 112);
	padding:8px;
}

.bottom {
	height:100px;
	width:250px;
	font-size:25px;
	font-weight: 700;
	box-sizing: border-box;
}