@{
  Layout = "_Layout";
}
<nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
</nav>


<h1>Welcome to Pierre's Bakery!</h1>
<h4>Treats are unique to each user account</h4>
<h4>Any user account may add a flavor. Any account can add any flavor to their unique treats.</h4>
<h4></h4>

<p>@Html.ActionLink("Register or Login", "Index", "Account")</p>
<p>@Html.ActionLink("See your treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See your flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("View All Flavors and Treats from All Users", "ViewAll", "Home")</p>