@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
 
<div id="footer">
  <button  class="bottom">@Html.ActionLink("Cancel", "Details", new { id = Model.FlavorId })</button>
  <button  class="bottom">@Html.ActionLink("Back to List", "Index")</button>
</div>